body {
    margin: 0;
    color: #212529;
    background-color: #fff;
    transition: all .7s;
}
.header-section, footer {
    background-color: #264653;
}
.after-element::after{
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    margin: 8px auto 0;
    background-color: #DC3545;
}
.gray-scale img{
    cursor: pointer;
    filter: grayscale(100%);
}
.gray-scale img:hover{
    filter: grayscale(0);
}
.product-details{
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all .7s;
} 
.single-products:hover .product-details{
    opacity: 100;
}
.single-products:hover img{
    transform: scale(1.2, 1.2);
    transition: all .7s;
}
.subscribe{
    text-decoration: none;
    color: black;
}